@import url('null.css');




.wrapper{
min-height: 100%;
overflow: hidden;

}

.container{
   background: rgb(255, 255, 255);
 

}

.title{
   text-align: center;
   font-size: 45px;
   font-weight: 700;
   color: red;
   margin: 20px 0 0 0;
}

/* Блок-1 */
.block-1{
   margin: 50px 0 0 800px;
}

.img-block-1{
    
     height: 200px;
   }

  .block-1::after{
   display: inline-block;
   content: " УРА! Я стал верстальщиком";
   background:radial-gradient(circle, rgba(179,121,121,1) 0%, rgba(245,3,3,1) 100%);
   color: #fff;
   width: 100%;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 auto;
   visibility:hidden;
  }
 /* Блок-2 */

.block-2{
   margin: 0px 0 0 570px;
}

.block-2::before{
   content: " ";
   display: block;
   width: 125px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 135px;
   visibility:hidden;
}

.img-block-2{
     
     height: 90px;
   }

  .block-2::after{
   display: inline-block;
   content: " Я это сделаю!";
   background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(165,177,33,1) 100%);
   color: #fff;
   width:650px;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 42px;
   visibility:hidden;
  }

  /* блок-3 */

  .block-3{
   margin: 0px 0 0 390px;
}

  .img-block-3{
   margin: 0px 0 0 50px;
   height: 90px;
}

.block-3::before{
   content: " ";
   display: block;
   width: 125px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 220px;
   visibility:hidden;
}


  .block-3::after{
   display: inline-block;
   content: " Я попытаюсь!";
   background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(29,148,171,1) 100%);
   color: #fff;
   width:650px;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 35px ;
   visibility:hidden;
  }

  /* Блок-4 */

  .block-4{
   margin: 0px 0 0 350px;
}

  .img-block-4{
   margin: 0px 0 0 50px;
   height: 90px;
}

.block-4::before{
   content: " ";
   display: block;
   width: 125px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 160px;
   visibility:hidden;
}



  .block-4::after{
   display: inline-block;
   content: " Как мне это сделать?";
   background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(49,29,171,1) 100%);
   color: #fff;
   width:650px;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 35px ;
   visibility:hidden;
  }

  /* Блок-5 */

  .block-5{
   margin: 0px 0 0 234px;
}

  .img-block-5{
   margin: 0px 0 0 50px;
   height: 90px;
}

.block-5::before{
   content: " ";
   display: block;
   width: 125px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 180px;
   visibility: hidden;
}



  .block-5::after{
   display: inline-block;
   content: " Я не могу это сделать?";
   background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(125,29,171,1) 100%);
   color: #fff;
   width:650px;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 35px ;
   visibility: hidden;
  }

  /* Блок-6 */

  .block-6{
   margin: 0px 0 0 178px;
   
   
   
   
}

  .img-block-6{
     display: inline;
   margin: 0px 0 0 50px;
   height: 90px;
   
  
  
}

.block-6::before{
   content: " ";
   display: block;
   width: 125px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 139px;
   visibility: hidden;
}



  .block-6::after{
   display: inline-block;
   content: " Я не буду это делать?";
   background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
   color: #fff;
   width:650px;
   height: 90px;
   text-align: center;
   font-size: 30px;
   padding: 35px 0;
   border-left: 30px solid #000;
   margin: 0 0 0 35px ;
   visibility: hidden;
  } 

  .start{
   font-size: 45px;
   font-weight: 700;
   color: red;
   margin: 0 0 150px 0;
   
  }

  .start::before{
   content: " ";
   display: block;
   width: 200px;
   height: 20px;
   background-color: #000;
   margin: 0 0 0 145px;
   visibility:hidden;
  }

  /* Ховер */

  /* 1 */
  .start:hover + .start::before{
  
   visibility: visible;

  }

  .start:hover::before{
     visibility: visible;
  }

  /* 2 */

  .block-6:hover::after{
     visibility: visible;
  }

 

/* 3 */
  .block-6:hover:after + .block-6::before{
     visibility: visible;
  }
  .block-6:hover::before{
   visibility: visible;
  }

  /* 4 */
  .block-6:hover::before+.block-5::after{
     visibility: visible;
  }

  .block-5:hover::after{
     visibility: visible;
  }

  /* 5 */

  .block-5:hover::after+.block-5::before{
     visibility: visible;
  }
  .block-5:hover::before{
     visibility: visible;
  }

  /* 6 */

.block-5:hover::before + .block-4::after{
   visibility: visible;
}

.block-4:hover::after{
   visibility: visible;
}

/* 7 */
.block-4:hover::after + .block-4::before{
   visibility: visible;
}
.block-4:hover::before{
   visibility: visible;
}
/* 8 */
.block-4:hover::before + .block-3::after{
   visibility: visible;

}
.block-3:hover::after{
   visibility: visible;
}
/* 9 */
.block-3:hover::after+.block-3::before{
   visibility: visible;
}
.block-3:hover::before{
   visibility: visible;
}
/* 10 */
.block-3:hover::before + .block-2::after{
   visibility: visible;

}
.block-2:hover::after{
   visibility: visible;
}
/* 11 */
.block-2:hover::after+.block-2::before{
   visibility: visible;
}
.block-2:hover::before{
   visibility: visible;
}
/* 12 */

.block-2:hover::before + .block-1::after{
   visibility: visible;

}
.block-1:hover::after{
   visibility: visible;
}

/* 13 */
.block-1:hover::after+.block-1::before{
   visibility: visible;
}
.block-1:hover::before{
   visibility: visible;
}


.game{
   font-size: 30px;
   font-weight: 900;
   color: red;
}

  










